#cloud-config
hostname: p4-monitor-01
manage_etc_hosts: true

users:
  - name: ubuntu
    gecos: Ubuntu
    groups: [adm, sudo]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_public_key}

ssh_pwauth: false
disable_root: true

package_update: true

packages:
  - qemu-guest-agent
  - prometheus
  - prometheus-alertmanager
  - prometheus-node-exporter
  - curl


write_files:
  - path: /etc/prometheus/prometheus.yml
    owner: root:root
    permissions: '0644'
    content: |
      global:
        scrape_interval: 15s
        evaluation_interval: 15s

      scrape_configs:
        - job_name: prometheus
          static_configs:
            - targets:
                - localhost:9090

        - job_name: phase4-linux-nodes
          static_configs:
            - targets:
                - ${web_support_ip}:9100
                - ${db_support_ip}:9100
                - ${monitor_support_ip}:9100
              labels:
                environment: phase4

runcmd:
  - [systemctl, enable, --now, qemu-guest-agent]
  - [systemctl, enable, --now, prometheus]
  - [systemctl, enable, --now, prometheus-alertmanager]
  - [systemctl, enable, --now, prometheus-node-exporter]

final_message: "p4-monitor-01 cloud-init complete"
